{% extends "base.html" %}

{% block content %}

<h1>Edit Bin</h1>

<form method="POST">

<label>Bin Title</Title></label><br>
<input type="text" name="title" value="{{ bin.title}}">

<br><br>

<label>Bin Location</label><br>
<input type="text" name="location" value="{{ bin.location}}">

<br><br>

<label>Bin Description</label><br>
<textarea rows="4", name="description">{{ bin.description}}</textarea>

<br><br>

 <button type="submit" class="button">
    Update Bin
</button>

</form>

{% endblock %}