{% extends "base.html" %}

{% block content %}

<h1>Edit Item</h1>

<form method="POST">

    <label>Item Name</label><br>
    <input 
        type="text" 
        name="item_name" 
        value="{{ item.name }}"
    >

    <br><br>

    <label>Item Quantity</label><br>
    <input 
        type="number" 
        name="item_quantity" 
        value="{{ item.quantity }}"
    >

    <br><br>

    <label>Item Description</label><br>
    <textarea 
        rows="4" 
        name="item_notes">{{ item.notes }}</textarea>

    <br><br>

    <button 
        type="submit" 
        class="button" 
        name="action" 
        value="update">
        Update Item
    </button>

</form>


<form method="POST">

    <button 
        type="submit" 
        class="button" 
        name="action" 
        value="delete"
        onclick="return confirm('Delete this item?');">
        Delete Item
    </button>

</form>


{% endblock %}